---
layout: main
---
          <h1 class="sr-only">Evan Hildreth</h1>

          <section id="currentProjects" class="socializeLists">
            <h2 class="sr-only">Current Projects</h2>

            {% capture projects_md %}{% include currentprojects.md %}{% endcapture %}
            {{ projects_md | markdownify }}
          </section>
          <section id="otherProjects" class="socializeLists">
            <h2>Other Projects</h2>

            {% capture other_md %}{% include otherprojects.md %}{% endcapture %}
            {{ other_md | markdownify }}
          </section>